main {
  position: relative;
  left: 18rem;
  width: calc(100% - 20rem);
  min-height: calc(100dvh - var(--navbar-height) - 2rem);
  margin: 1rem 1rem;
}
a {
  color: black;
}

.admin-container {
  position: relative;
  top: var(--navbar-height);
  display: flex;
  height: calc(100dvh - var(--navbar-height));
}
.side-panel {
  position: fixed;
  top: var(--navbar-height);
  width: 16rem;
  background-color: var(--blue);
  margin: 1rem;
  height: calc(100vh - var(--navbar-height) - 2rem);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.side-panel a {
  font-size: 1.2rem;
  color: white;
}

.api-options {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--orange);
  
  overflow-x: auto;
  white-space: nowrap;
  gap: 0.5rem;
}
.api-options::-webkit-scrollbar {
  height: 0.5rem;
}
.api-options::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
.api-options a {
  padding: 0.25rem 0.5rem;
}
.api-options p {
  margin-bottom: 0!important;
}
.filter-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter-options input {
  background-color: aliceblue;
  color: black;
  padding: 0.25rem 0.5rem;
}

.create a {
  background-color: var(--blue);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.paginator-pages {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.paginator-pages a {
  padding: 0.25rem 0.75rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
}
.current-page {
  text-decoration: underline;
}
.paginator-results p {
  margin: 0;
}
