section {
  width: calc(100% - 2rem);
  height: calc(100dvh - var(--navbar-height) - 2rem);
  margin: 1rem;
}

.btn-primary {
  background-color: var(--green)!important;
  border: none;
}
.welcome {
  position: relative;
  top: var(--navbar-height);
}

@media (min-width: 48rem) {
}
