:root {
  --navbar-height: 5rem;
  --green: #78ba3c;
  --orange: #e86b17;
  --blue: #1b71a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  --bs-gutter-x: 0!important;
  --bs-gutter-y: 0!important;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  padding: 0.5rem;
  min-height: calc(100dvh - var(--navbar-height));
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: var(--blue);
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1rem!important;
}
.home-logo {
  display:flex;
  align-items:center;
  gap:1rem;
  height:4rem;
}
.home-logo h1 {
  color: white;
  margin-bottom: 0.125rem;
}
.logo-container {
  width: calc(var(--navbar-height) - 1rem);
  height: calc(var(--navbar-height) - 1rem);
  background-color: white;
  border-radius: 50%;
}
.logo-container img {
  width: calc(var(--navbar-height) - 1rem);
  height: calc(var(--navbar-height) - 1rem);
}
.navbar-burger {
  width: 5rem;
  height: 5rem;
  position: relative;
}
.navbar-burger span {
  display: block;
  height: 2px;
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  background-color: var(--green);
}
.navbar-burger span:first-child {
  top: 2rem;
}
.navbar-burger span:last-child {
  top: 3rem;
}

.navbar-burger.is-active span:first-child {
  top: 51%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}
.navbar-burger.is-active span:last-child {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}
.navbar-menu {
  background-color: var(--blue);
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  height: calc(100dvh - var(--navbar-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -10;
}
.navbar-menu.is-active {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}
.navbar-link {
  color: white;
  font-size: 1.1rem;
  z-index: 100;
}

.api-options {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--orange);
}
.api-options a {
  background-color: aliceblue;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.api-options p {
  margin-bottom: 0!important;
}
.filter-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter-options input {
  background-color: aliceblue;
  color: black;
  padding: 0.25rem 0.5rem;
}

.btn-primary {
  background-color: var(--green)!important;
  border: none;
}
.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.paginator-pages {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.paginator-pages a {
  padding: 0.25rem 0.75rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
}
.current-page {
  text-decoration: underline;
}
.paginator-results p {
  margin: 0;
}

@media (min-width: 48rem) {
  .navbar {
    justify-content: space-around;
    padding: 0!important;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-menu {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    gap: 1rem;
    flex-direction: row;
    z-index: 100;
    opacity: 1;
    pointer-events: auto;
    top: 0;
    background-color: #0000;
  }
}
